body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.logo {
  height: 50px;
  width: 150px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}
.nav {
  margin-right: 20px;
  font-size: 22px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}
.nav a:hover {
  color: hsl(30, 92%, 58%) !important;
}
.profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: white;
}
.logout,
.header-login {
  background-color: hsl(30, 92%, 58%);
  border: 2px solid hsl(30, 92%, 58%);
  border-radius: 10px;
  font-size: 17px;
  color: white;
  height: 40px;
}
.logout:hover,
.header-login:hover {
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .nav {
  }
}
