.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/banner.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.title {
  color: white;
}
.title button {
  background: transparent;
  color: white;
  border: 2px solid #f69431;
  border-radius: 20px;
  padding: 7px 23px;
}
